#menu {
    height: 1000px;
    /* background-color: blue; */
}

.header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}
 
.menu-container {
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    overflow-y: auto; 
  }

  .menu-section {
    border-width: 1px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    margin-bottom: 15px; /* 각 섹션 간의 간격 */
    padding: 5px; /* 내부 여백 */
    background-color: #ddd; /* 섹션 배경색 */
    border: 1px solid #ddd; /* 섹션 테두리 */
    border-radius: 4px; /* 둥근 테두리 */
  }

.mode {
    float: left;
    margin-left: 10px;
    margin-top: 16px;
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 5px; 
  }

.menu-label{
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

input[type="range"],
select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.info-view {
    float: left;
    margin-left: 30px;
    margin-top: 16px;
}
